@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "qatar";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #adaba7;
  --color-base-300: #C9A84C;
  --color-base-content: #ffffff;
  --color-primary: #79122E;
  --color-primary-content: oklch(30% 0.056 229.695);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(29% 0.149 302.717);
  --color-accent: oklch(71% 0.203 305.504);
  --color-accent-content: oklch(29% 0.149 302.717);
  --color-neutral: #051014;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.card-primary-gradient {
  @apply bg-linear-to-r from-[#871433] to-[#21050C] text-white;
}

.card-light {
  @apply bg-base-100 text-black;
}

.card-hover-animation {
  @apply transition-transform duration-200 hover:-translate-y-1 hover:shadow-lg cursor-pointer;
}
